header.header
    button.header__menu-btn
        i.material-icons-outlined menu

    // img(class="brand__logo", src="./assets/img/material-dashboard-logo.png", alt="brand logo")

    a(href="#", class="brand")
        i.brand__logo
        span.brand__title MATERIAL DASHBOARD


    nav.header__nav
        ul
            li.header__nav-item
                a(href="javascript:void(0);", class="header__nav-link") Dashboard
            li.header__nav-item
                a(href="javascript:void(0);", class="header__nav-link") Colors
            li.header__nav-item
                a(href="javascript:void(0);", class="header__nav-link") Panels
            li.header__nav-item
                a(href="javascript:void(0);", class="header__nav-link") Buttons


    nav.header__control
        ul
            li.header__nsem
                a(href="javascript:void(0);", class="header__nav-link")
                    span.material-icons-outlined notifications
            li.headers-item  User

