header.header
    button.header__menu-btn
        i.material-icons-outlined menu

    a(href="#", class="brand")
        i.brand__logo
        span.brand__title MATERIAL DASHBOARD

    nav.header__nav
        ul
            li.header__nav-item
                a(href="javascript:void(0);", class="header__link header__link-active") Dashboard
            li.header__nav-item
                a(href="javascript:void(0);", class="header__link") Colors
            li.header__nav-item
                a(href="javascript:void(0);", class="header__link") Panels
            li.header__nav-item
                a(href="javascript:void(0);", class="header__link") Buttons



    ul.header__control
        li.header__nav-item.header__search
            input(type="search", class="header__search-input header__search-input-hidden", placeholder="search")
            i(class="header__icon material-icons-outlined" id="toggle-search") search

        li.header__nav-item.dropdown
            a(href="javascript:void(0);", class="header__link dropdown__toggle")
                span.material-icons-outlined.header__icon notifications
            ul.dropdown__menu.notifications
                li.dropdown__menu-item.notifications__header Notifications
                li.dropdown__menu-separator
                - for(let i = 0; i < 5; i++)
                    li.dropdown__menu-item.notifications__item
                        a.dropdown__menu-link.notifications_link
                            span.notifications__icon.material-icons-outlined notifications
                            p.notification__title Lorem ipsum dolor sit amet,  adipisicing elit.
                            i(class="material-icons-outlined notifications__remove", title="delete this notification") remove_circle
                li.dropdown__menu-separator
                li.dropdown__menu-item
                    a(href="#", class="dropdown__menu-link notifications__load-more") See More

        li.header__nav-item.dropdown
            a(href="javascript:void(0);", class="header__link dropdown__toggle") User
            ul.dropdown__menu
                li.dropdown__menu-item
                    a(href="#", class="dropdown__menu-link") Profile
                li.dropdown__menu-item
                    a(href="#", class="dropdown__menu-link") settings
                li.dropdown__menu-separator
                li.dropdown__menu-item
                    a(href="#", class="dropdown__menu-link") Logout


