.side-expanded {
	.side-menu {
		transform: translateX(0);
		transition-duration: 235ms;
	}

	.mask {
		opacity: 1;
		visibility: visible;
		z-index: 4;
	}
}

.brand {
	display: flex;
	align-items: center;
	padding-left: 2.4rem;
	//margin-right: auto;
	height: 7.2rem;

	.brand__logo {
		width: 3.2rem;
		height: 3.2rem;
		display: block;
		margin-right: 1.6rem;
		background: url('../img/material-dashboard-logo.png') 100% 50%/auto 100% no-repeat;
		border-radius: 50%;
	}

	.brand__title {
		color: $primary;
		display: inline;
		font-size: 1.6rem;
		text-transform: uppercase;
	}
}


.mask {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transform: translateZ(0);
	transition: 0.3s all ease-in-out;
	z-index: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

@import "header";
@import "side-menu";
@import "content";
@import "footer";

