.panel {
	background-color: $surface;
	border-radius: 0.8rem;

	.panel-header {
		padding: 1.6rem;
		border-bottom: $border;
	}

	.panel-filter {
		padding: 1rem 1.6rem;
		background-color: map-get($primary-variants, 'lighten-5');
		border-bottom: $border;
		.panel-filter-header {
			display: flex;
			justify-content: space-between;
			margin: 0 0 1rem 0;
			.panel-filter-title {
				font-size: 1.6rem;
			}
		}

		.panel-filter-text {
			font-size: 1.2rem;
			margin: 0 0 1rem 0;
		}
	}

	.panel-body {
		padding: 1rem 1.6rem;
	}

	.panel-footer {
		border-top: $border;
		padding: 1rem 1.6rem;
	}
}