$text-primary: #ffffff; //#5A5A5A
$text-muted: #868e96;
$text-secondary: #5a6169;


@function colorMap($color) {
	$lighten: ();
	$darken: ();
	@for $i from 1 through 5 {
		$lighten: map-merge($lighten, (
				lighten-#{$i} : lighten($color, $i * 9)
		));
		$darken: map-merge($darken, (
				darken-#{$i} : darken($color, $i * 5)
		));
	}
	@return map_merge($lighten, $darken);
}


// color scheme
/*
A primary color is the color displayed most frequently across your app’s screens and components.
*/
$primary: #3d5170;
$primary-variants: colorMap($primary);
@each $color, $value in $primary-variants {
	.p-#{$color} {
		background-color: $value;
		color: invert($value);
	};
}


/*
Secondary colors are best for:
Floating action buttons
Selection controls, like sliders and switches
Highlighting selected text
Progress bars
Links and headlines
*/
$secondary: #d6cec2;
/*
the background color appears behind scrollable content.
*/
$background: #F2F3F5;
/*
Surface colors affect surfaces of components, such as cards, sheets, and menus.
*/
$surface: #ffffff;
/*
	flags
*/
$success: #004d24;
$error: #B00020;
$warning: #b03800;
$info: blue;
$white: #ffffff;


// grid
$columns: 12;

$breakPoints: (
		'mob-sm': 360px,
		'mob-md': 400px,
		'mob-lg': 480px,
		'tab-sm': 600px,
		'tab-md': 720px,
		'tab-lg': 840px,
		'deskt-sm': 1280px,
		'deskt-md': 1366px,
		'deskt-lg': 1440px,
		'deskt-xlg': 1920px,
);

// borders
$border: 1px solid #e1e5eb;
$border-error: 1px solid $error;
$border-success: 1px solid $success;