extends layout/layout

block content
    div.row
        div.col-6
            div.panel
                div.panel-header
                    span Buttons
                div.panel-body
                    button.btn.btn--x-small X-SMALL
                    button.btn.btn--small SMALL
                    button.btn.btn--large LARGE
                    button.btn.btn--x-large X-LARGE