extends layout/layout

block content
    div.col-3
        ul
            each color in ['p-lighten-', 'p-darken-']
                - for(let i = 1; i <= 5; i++)
                    li(class=color + i)= color + i
