extends layout/layout

block content
    //
        div.row
            div.col-8.offset-2
                div.panel
                    div.panel-header
                        h6 Lorem ipsum dolor.
                    div.panel-filter

                    div.panel-body
                    div.panel-footer
                        h6 first
                        sub Lorem ipsum dolor.
                        sup Lorem ipsum dolor.
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque eos esse eum excepturi facere hic illum labore libero officia optio perferendis quibusdam, quos, ratione, rem repellat sapiente sunt ut?

                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque eos esse eum excepturi facere hic illum labore libero officia optio perferendis quibusdam, quos, ratione, rem repellat sapiente sunt ut?