extends layout/layout

block content

    div.row
        div.col-sm-8.offset-sm-2
            div.panel
                div.panel-header
                    h6 Lorem ipsum dolor.
                div.panel-filter
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque eos esse eum excepturi facere hic illum labore libero officia optio perferendis quibusdam, quos, ratione, rem repellat sapiente sunt ut?
                div.panel-body
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque eos esse eum excepturi facere hic illum labore libero officia optio perferendis quibusdam, quos, ratione, rem repellat sapiente sunt ut?

                div.panel-footer
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit

